.env
.envrc
.eslintrc.json
node_modules
dist
*.tgz
.direnv
*mpt-db/*
test-mpt-db*/
tests/benchmarks/output/
logs/
tmp-*
.flow-ledger-*/
.flow-mempool-*/
.local-pg/
contract-deployment-info.prototype.json
src/generated/
