server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: ./data/positions.yaml

clients:
  - url: http://localhost:3100/loki/api/v1/push

scrape_configs:
  # Scrape all logs from data directory
  - job_name: monitoring
    static_configs:
      - targets:
          - localhost
        labels:
          environment: local
          __path__: ./data/*.log
